
@media screen and (min-width : 601px), (orientation:landscape) {
  body {
    width: 100%;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    height: 100vh;
    margin: 0 auto;
    max-width: 1440px;
    grid-template-areas:
    " header     figure"
     "main       figure"
     "footer     footer";

  }

  figure {
    grid-area: figure;
    grid-row: 1/4;
    
  }

}
